@font-face {
	font-family: 'Gotham Pro';
	font-display: swap;
	src: url("../fonts/GothamPro.woff"), url("../fonts/GothamPro.woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair-Bold';
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Bold.woff"), url("../fonts/PlayfairDisplay-Bold.woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair-Reg';
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Regular.woff"), url("../fonts/PlayfairDisplay-Regular.woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima-Bold';
	font-display: swap;
	src: url("../fonts/ProximaNova-Bold.woff"), url("../fonts/ProximaNova-Bold.woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima-Reg';
	font-display: swap;
	src: url("../fonts/ProximaNova-Regular.woff"), url("../fonts/ProximaNova-Regular.woff2");
	font-weight: 400;
	font-style: normal;
}

