.btn
  display: inline-block
  padding: 8px 20px
  font-family: 'Gotham Pro'
  font-size: rem(18)
  line-height: rem(38)
  font-weight: 500
  color: $text
  background-color: $primary
  text-decoration: none
  transition: 0.3s
  &:hover
    background-color: $primary-hov

.swiper
  &-button
    &-prev,
    &-next
      width: 23px
      height: 12px
      color: $light
      transition: 0.2s
      &:hover
        color: $primary-hov
      &::after
        display: none
    &-prev
      left: -39px
    &-next
      right: -39px
      transform: rotate(180deg)
      
  &-pagination
    &-bullet
      display: flex
      justify-content: center
      align-items: center
      position: relative
      opacity: 1
      width: 4px
      height: 4px
      border-radius: 50%
      background-color: $light   
      &-active
        background-color: $primary-hov
      &-prev
        &::before
          position: absolute
          content: ''
          display: inline-block
          width: 16px
          height: 16px
          border-radius: 50%
          border: 2px solid $light
          border-top: 2px solid $light-text
          animation: spin 3s linear infinite

@keyframes spin
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)
