.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 11
  &__scroll--js
    & .header__contacts
      height: 0 !important
    & .header__menu,
    & .header__nav
      margin-top: 0